.menu {
    display: flex;
    background-color: #f0f0f0; /* Color de fondo */
    padding: 10px; /* Espacio alrededor del contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.menu a {
    text-decoration: none; /* Sin subrayado */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    margin-right: 20px; /* Espacio entre enlaces */
    transition: color 0.3s; /* Transición suave para el color del texto */
}

.menu a:hover {
    color: #666; /* Color del texto al pasar el ratón */
}

.activo {
    background-color: #ccc;
    }
    .activo a {
    color: green;
    }
    