<div class="inf-container">
    <ul>
        <li *ngFor="let deducible of deducibles">
            <div class="card" style="width: 80rem;">
                <img [src]="deducible.imagen" class="card-img-top" [alt]="'Imagen de deducible de tipo ' + deducible.Tipo">
                <div class="card-body">
                    <h1 class="card-title">{{deducible.Tipo}}</h1>
                    <p class="card-text">Descripcion deducible!! <b>{{deducible.Descripcion}}</b></p>
                    <button (click)="informacion(deducible.Descripcion)" class="btn btn-info">Información</button>
                    <button (click)="informacion_adicional(deducible.gasto)" class="btn dark">Informacion</button>
                    <button (click)="borrarDeducible(deducible.Tipo)" class="btn btn-warning">Borrar</button>
                </div>
            </div>
        </li>
    </ul>
</div>